body {
  background: #000000;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/167/281/original/jez-timms-8muUTAmcWU4-unsplash.jpg?1749004337");
  background-size: 800px;
  background-position-y: 380px;
  background-repeat: no-repeat;
  font-family: "Aboreto", system-ui;
}

h1 {
  font-family: "Brush Script MT", cursive;
  padding: 30px;
  margin: 0px 30px 0px 30px;
  font-size: 60px;
}

.image-icon {
  width: 100px; /* Set the width of the image */
  height: auto; /* Keep the aspect ratio */
}

h2 {
  border-top: thick double rgb(140, 140, 140);
  border-bottom: thick double rgb(140, 140, 140);
  padding: 20px;
  margin: 0px 30px 0px 30px;
  font-size: 18px;
  font-weight: 600;
}

form {
  padding: 20px;
}

.prompt-input {
  text-align: center;
  background-color: #400303;
  color: #a32a2a;
  border: none;
  border-radius: 6px;
  width: 25%;
  padding: 8px;
}

.submit-button {
  font-family: "Aboreto", system-ui;
  background-color: #400303;
  color: white;
  border: none;
  border-radius: 6px;
  margin-left: 8px;
  width: 15%;
  padding: 8px;
  transition: all 300ms ease-in-out;
}

.submit-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.container {
  text-align: center;
  color: #751212;
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 800px;
  margin: 50px auto;

  border-image-slice: 1020 869 1175 796;
  border-image-width: 46px 0px 46px 0px;
  border-image-outset: 45px 38px 45px 30px;
  border-image-repeat: round;
  border-style: solid;
  border-image-source: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/167/279/original/vintage-border-white.png?1748998119");
}
.poem-ai {
  font-family: "Playwrite DK Loopet", cursive;

  font-size: 15px;
  text-align: left;
  color: #fff;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/167/272/original/cropped-TGL-header-2.jpg?1748987576);
  background-size: cover;
  background-repeat: no-repeat;

  border-left: thick double white;
  border-right: thick double white;

  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
}

.hidden {
  display: none;
}

.text-generating {
  width: 200px;
  height: 50px;
  padding: 15px;
  text-align: center;
  line-height: 50px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

div .text-generating {
  color: #751212;
  animation: blink 1s linear infinite;
}

a {
  font-weight: 900;
  color: rgba(228, 54, 54, 0.3);
}

footer {
  font-size: 13px;
  color: rgba(217, 217, 217, 0.3);
}
